@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --box-shadow: 0 0 20px lightpink;
  --border-radius: 2rem;
  --primary-color: red;
  --secondary-color: rgb(121, 113, 113);
  --third-color: pink;
  --text-color: black;
  --text-color2: blue;
  --text-color3: white;
  --button: red;
}

body {
  background-color: whitesmoke;
  font-family: Gowun batang;
  padding-top: 20rem;
}

/*HEADER*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 98vw;
  margin-left: 0.9rem;
  height: 25vh;
}

/*NAVIGATION BAR*/

.container {
  padding: 1.5rem;
  width: 98.6%;
  height: 5rem;
  margin-left: 1rem;
  box-shadow: var(--box-shadow);
  /*border-radius: var(--border-radius);*/
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--text-color3);
  font-size: 1.5rem;
  font-family: "Gowun Batang", serif;
  margin: 0 1rem;
}

li a:hover {
  color: var(--text-color);
}

/*MAIN SECTION*/

.information {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
  margin-top: 1rem;
  text-shadow: 1rem 1rem 1rem lightpink;
}
h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 2rem;
}
span {
  color: var(--text-color2);
}

h3 {
  margin-top: -5.2rem;
  margin-left: 5rem;
  padding: 1rem;
}

.cards {
  display: flex;
  width: 20%;
  justify-content: center;
  margin-left: 40rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 5rem;
  color: var(--text-color2);
}

.cards img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.9640231092436975) 100%
  );
  backface-visibility: visible !important;
  animation: flip 25s ease infinite;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(40px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(40px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}

.extra {
  display: none;
}

p {
  display: inline;
  color: var(--text-color);
}

input[type="checkbox"] {
  height: 0.1em;
  display: block;
  appearance: none;
}

label {
  position: relative;
  background-color: var(--third-color);
  color: var(--text-color3);
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

input,
label {
  margin-top: 1rem;
}

label:before {
  content: "Read-more";
}

input[type="checkbox"]:checked ~ label:before {
  content: "Read-less";
}

.dot:has(~ input[type="checkbox"]:checked) {
  display: none;
}

.extra:has(~ input[type="checkbox"]:checked) {
  display: inline;
}

.text {
  margin-top: 2rem;
}

/*FOOTER*/
footer .nav-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  list-style: none;
  width: 98.6%;
  height: 3rem;
  margin-left: 1rem;
  box-shadow: var(--box-shadow);
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
footer .nav-footer li:hover {
  background-color: var(--primary-color);
}

/*MEDIA QUERY MOBILE*/

@media screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    font-family: Gowun batang;
    padding-top: 38rem;
  }

  header {
    position: fixed;
    top: 0;
    width: 110%;
    z-index: 1000;
  }

  .logo img {
    display: block;
    width: 100%;
    margin-left: 0.9rem;
    height: 25vh;
  }

  .container {
    padding: 1.5rem;
    width: 100%;
    height: 5rem;
    box-shadow: var(--box-shadow);
    /*border-radius: var(--border-radius);*/
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  .information {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
    margin-top: -5rem;
    text-shadow: 1rem 1rem 1rem lightpink;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    /*margin-left: 40rem;*/
    margin-top: 25rem;
    gap: 1rem;
    color: var(--text-color3);
    margin-left: 12rem;
  }

  .text {
    width: 180%;
    display: flex;
    flex-wrap: wrap;
  }

  input,
  label {
    margin-top: 1rem;
    border-radius: 1rem;
  }

  footer .nav-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    list-style: none;
    width: 98.6%;
    height: 3rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16rem;
    width: 30%;
  }

  @keyframes flip {
    0% {
      transform: perspective(400px) rotateY(0);
      animation-timing-function: ease-out;
    }
    40% {
      transform: perspective(400px) translateZ(20px) rotateY(170deg);
      animation-timing-function: ease-out;
    }
    50% {
      transform: perspective(400px) translateZ(20px) rotateY(190deg) scale(1);
      animation-timing-function: ease-in;
    }
    80% {
      transform: perspective(400px) rotateY(360deg) scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: perspective(400px) scale(1);
      animation-timing-function: ease-in;
    }
  }
}

@media screen and (max-width:601px) {
  body {
    background-color: whitesmoke;
    font-family: Gowun batang;
    padding-top: 38rem;
  }
  header {
    position: fixed;
    top: 0;
    width: 110%;
    z-index: 1000;
  }

  .logo img {
    display: block;
    width: 110%;
    margin-left: 0.9rem;
    height: 25vh;
  }
  .container {
    padding: 1.5rem;
    width: 98.6%;
    height: 5rem;
    box-shadow: var(--box-shadow);
    /*border-radius: var(--border-radius);*/
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  .information {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
    margin-top: -5rem;
    text-shadow: 1rem 1rem 1rem lightpink;
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    /*margin-left: 40rem;*/
    margin-top: 25rem;
    gap: 1.5rem;
    color: var(--text-color3);
    margin-left: 12rem;
  }

  .text {
    width: 180%;
    display: flex;
    flex-wrap: wrap;
  }

  input,
  label {
    margin-top: 1rem;
    border-radius: 1rem;
  }

  footer .nav-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    list-style: none;
    width: 98.6%;
    height: 3rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

}
