@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --box-shadow: 0 0 20px lightpink;
  --border-radius: 2rem;
  --primary-color: red;
  --secondary-color: rgb(121, 113, 113);
  --third-color: pink;
  --text-color: black;
  --text-color2: blue;
  --text-color3: white;
}

body {
  background-color: whitesmoke;
  font-family: Gowun batang;
  padding-top: 20rem;
}

/*HEADER*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 98vw;
  margin-left: 0.9rem;
  height: 25vh;
}

/*NAVIGATION BAR*/

.container {
  padding: 1.5rem;
  width: 98.6%;
  height: 5rem;
  margin-left: 1rem;
  box-shadow: var(--box-shadow);
  /*border-radius: var(--border-radius);*/
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--text-color3);
  font-size: 1.5rem;
  font-family: "Gowun Batang", serif;
  margin: 0 1rem;
}

li a:hover {
  color: var(--text-color);
}

/*MAIN SECTION*/

.information {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
  margin-top: 27rem;
  text-shadow: 1rem 1rem 1rem lightpink;
}
h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 2rem;
  margin-left: 5rem;
}
span {
  color: var(--text-color2);
}

.one,
.two,
.three {
  margin-top: 1rem;
}

/*CARDS*/

.cards {
  display: flex;
  width: 20%;
  justify-content: center;
  margin-left: 40rem;
  margin-top: 25rem;
  margin-bottom: 3rem;
  gap: 5rem;
  color: var(--text-color2);
}

.cards img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.9640231092436975) 100%
  );
  backface-visibility: visible !important;
  animation: flip 25s ease infinite;
}

h3 {
  margin-top: 1rem;
  margin-left: 5rem;
  padding: 1rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

button {
  padding: 2rem 3rem;
  border-radius: 3.125rem;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: 1rem;
  font-size: 0.938rem;
  transition: all 0.5s ease;
}
button a {
  text-decoration: none;
  color: var(--text-color2);
}
button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(40px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(40px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}

/*FOOTER*/

.nav-footer {
  padding: 1.5rem;
  width: 98.6%;
  height: 10rem;
  margin-left: 1rem;
  box-shadow: var(--box-shadow);
  /*border-radius: var(--border-radius);*/
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/*About*/

.berlin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20rem;
}

.about img {
  width: 50%;
  text-align: center;
  margin-top: 3rem;
  margin-left: 28rem;
  border-radius: var(--border-radius);
}

p {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: 5rem;
  margin-left: 5rem;
}

/*Pictures*/

.allpictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 5rem;
  gap: 5rem;
}

.allpictures img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.9640231092436975) 100%
  );
}

.allpictures img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*Contact*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -15rem;
  width: 400px;
  background: linear-gradient(#eccaec, #dd87c3) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff);
   
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

/*MEDIA QUERY MOBILE*/

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 601px) {
}
